<script setup lang="ts"></script>

<template>
  <input
    type="checkbox"
    name="chkBillingOption"
    id="chkBillingOption"
    class="toggle"
  />
</template>

<style scoped lang="scss">
.toggle {
    -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
}

/* To create surface of toggle button */
.toggle:after {
  content: "";
  width: 45px;
  height: 1.6em;
  display: inline-block;
  background: $color-toggle-bg;
  border-radius: 18px;
  clear: both;
}

/* Contents before checkbox to create toggle handle */
.toggle:before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  display: block;
  position: absolute;
  left: 4px;
  top: 2px;
  border-radius: 50%;
  background: $color-pricing-bg;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.toggle:checked:before {
  left: 24px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.toggle:checked:after {
  background: #16a085;
}

/* Transition for smoothness */
.toggle,
.toggle:before,
.toggle:after,
.toggle:checked:before,
.toggle:checked:after {
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

</style>
