<script setup lang="ts">
import BillingToggle from "./BillingToggle.vue";
import Slider from "./Slider.vue";
</script>

<template>
  <header class="header">
    <h1 class="header--title">Simple, traffic-based pricing</h1>
    <span class="header--summary">Sign-up for our 30-day trial.</span>
    <span class="header--summary"> No credit card required.</span>
  </header>
  <div class="card">
    <div class="card--header">
      <div class="card--stats">100K Pageviews</div>
      <div class="card--slider"><Slider></Slider></div>
      <div class="card--price">
        <span class="card--price--value">$ 16.00</span
        ><span class="card--price--period">/ month</span>
      </div>
      <div class="card--billing-option">
        Monthly Billing
        <BillingToggle></BillingToggle>
        Yearly Billing
        <span class="card--discount-badge"
          ><span class="card--discount-badge--sign">-</span>25%
          <span class="card--discount-badge--text">discount</span></span
        >
      </div>
    </div>
    <div class="card--body">
      <div class="card--features">
        <div class="card--feature">
          <img
            src="../assets/icon-check.svg"
            alt=""
            aria-hidden="true"
            class="card--feature--check"
          />
          Unlimited websites
        </div>
        <div class="card--feature">
          <img
            src="../assets/icon-check.svg"
            alt=""
            aria-hidden="true"
            class="card--feature--check"
          />100% data ownership
        </div>
        <div class="card--feature">
          <img
            src="../assets/icon-check.svg"
            alt=""
            aria-hidden="true"
            class="card--feature--check"
          />Email reports
        </div>
      </div>
      <div>
        <button type="button" class="card--cta">Start my trial</button>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.header {
  background-image: url("../assets/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 3rem;
  &--title {
    color: $color-title;
    font-size: 1.6em;
  }
  &--summary {
    display: block;
  }
}

.card {
  background-color: $color-pricing-bg;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1em;

  &--header {
    padding: 0 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &--stats {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
  &--price {
    margin-bottom: 1rem;

    &--value {
      font-size: 2em;
      color: $color-title;
    }
    &--period {
      vertical-align: middle;
      display: inline-block;
      height: 2em;
      margin-left: 1ex;
    }
  }
  &--slider {
    margin-bottom: 1rem;
  }
  &--billing-option {
    margin-bottom: 1rem;
  }
  &--discount-badge {
    color: $color-discount;
    background-color: $color-discount-bg;
    border-radius: 1em;
    padding: 1ex;
    &--text {
      display: none;
    }
  }
  &--body {
    border-top: 1px $color-toggle-bg solid;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  &--features {
    margin-bottom: 1rem;
  }
  &--feature {
    margin-bottom: 1rem;
    &--check {
      margin-right: 1em;
    }
  }
  &--cta {
    background-color: $color-cta-bg;
    border-radius: 2em;
    border: none;
    margin-top: 1rem;
    color: $color-cta;
    padding: 15px 32px;
    text-align: center;
    font-family: $text-default-font-family;
    cursor: pointer;
  }
}

@media screen and (min-width: $md-device) {
  .header {
    &--summary {
      display: inline;
    }
  }
  .card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    &--header {
      justify-content: space-between;
    }
    &--stats {
      order: 1;
      align-self: center;
    }
    &--price {
      order: 2;
      margin-top: 0;
    }
    &--slider {
      order: 3;
      width: 100%;
    }
    &--billing-option {
      order: 4;
      width: 100%;
    }
    &--discount-badge {
      &--sign {
        display: none;
      }
      &--text {
        display: inline;
      }
    }
    &--features {
      text-align: left;
    }
    &--body {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}
</style>
