<script setup lang="ts">
import { ref } from 'vue';

let sliderValue= ref("55");
</script>

<template>  
  <div class="range-slider">
    <input
      type="range"
      min="0"
      max="100"
      step="1"
      v-model="sliderValue"      
    />
    <div class="range-slider__progress" v-bind:style="{ '--sliderValue': sliderValue}"></div>
  </div>
</template>

<style scoped lang="scss">

$progress-background: $color-empty-slider;
$fill-color: $color-slider;
$progress-radius: 20px;
$thumb-size: 3em;
$track-height: 1em;
$thumb-color: $color-slider-bg;

.range-slider {
  @mixin thumb {
    appearance: none;
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 50%;
    background-color: $thumb-color;
    border: none;
    pointer-events: auto;
    transition: 0.1s;
    background-image: url("../assets/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  display: inline-block;
  height: $thumb-size;
  position: relative;
  z-index: 1;

  &__progress {
    $start-end: calc($thumb-size / 2);
    position: absolute;
    left: $start-end;
    right: $start-end;
    top: calc(1px + $thumb-size / 2 - $track-height / 2);
    height: $track-height;
    background: $progress-background;
    pointer-events: none;
    z-index: -1;
    border-radius: $progress-radius;

    // fill area
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      clip-path: inset(0% 100% 0 calc(var(--sliderValue)*1%));
      top: 0;
      bottom: 0;
      background: $fill-color;
      z-index: 1;
      border-radius: inherit;
    }
  }

  & > input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: $thumb-size;
    margin: 0;
    position: absolute;
    left: 0;
    top: calc(50% - $thumb-size / 2);
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;

    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      @include thumb;
    }

    &:active {
      cursor: grabbing;
      z-index: 2; // when sliding left thumb over the right or vice-versa, make sure the moved thumb is on top
      + output {
        transition: 0s;
      }
    }
  }
}
.range-slider {
  width: Clamp(300px, 50vw, 800px);
  min-width: 200px;
}

</style>
