@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import "./tokens.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../assets/bg-pattern.svg");
  background-color: $color-background;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

/*
.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  
}

.title {
  margin: 0 0 1em 0;
  color: $color-title;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
}

.card {
  background-color: $card-background-color;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  text-align: center;

  .help {
    color: $color-neutral-grayish-blue;
    font-size: small;
  }
  a {
    color: $color-primary-red;
    text-decoration: none;
    font-weight: 700px;
  }
}

.form {
  &--item {
    margin: 15px 0;
    &--msg {
      text-align: right;
      display: none;
      color: $color-primary-red;
    }
  }


.trial {
  background-color: $color-accent;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  color: $text-default-color;
}

.btn-primary {
  background-color: $color-btn-primary;
}

@media screen and (min-width: $md-device) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
  .grid {
    grid-template-columns: 49% auto;
    align-items: center;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/