$sm-device: 375px;
$md-device: 800px;
$lg-device: 1440px;

//## Colors

//### Primary
$color-slider: hsl(174, 77%, 80%); //- Soft Cyan (Full Slider Bar)
$color-slider-bg: hsl(174, 86%, 45%); //- Strong Cyan (Slider Backround)
$color-discount-bg: hsl(14, 92%, 95%); //- Light Grayish Red (Discount Background)
$color-discount: hsl(15, 100%, 70%); //- Light Red (Discount Text)
$color-cta: hsl(226, 100%, 87%); //- Pale Blue (CTA Text)

//Neutral
$color-pricing-bg: hsl(0, 0%, 100%); //- White (Pricing Component Background)
$color-background: hsl(230, 100%, 99%); //- Very Pale Blue (Main Background)
$color-empty-slider: hsl(224, 65%, 95%); //- Light Grayish Blue (Empty Slider Bar)
$color-toggle-bg: hsl(223, 50%, 87%); //- Light Grayish Blue (Toggle Background)
$color-text: hsl(225, 20%, 60%); //- Grayish Blue (Text)
$color-cta-bg: hsl(227, 35%, 25%); //- Dark Desaturated Blue (Text & CTA Background)

$color-title: $color-cta-bg;

//##Text
$text-default-color: $color-text;
$text-default-font-size: 13px;
$text-default-font-family: "Manrope";

