<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import Pricing from "./components/Pricing.vue";
</script>

<template>
  <main class="main">
    <Pricing />
  </main>
  <footer class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by <a href="https://gitlab.com/vianhg">vianhg</a>.
  </footer>
</template>

<style scoped lang="scss">

.main {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 2rem 1.2rem ;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
</style>
